body {
    background-color: #F9FAF8;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 8vw 1vw 8vw;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    font-weight: 800;
    font-size: 32px;
    color: #F9FAF8;
    padding: 4vw 8vw 4vw 8vw;
    gap: 52px;
}

.info.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info.right-side {
    margin: 8vw;
}

.info img {
    max-width: 40vw;
}


.info p {
    font-size: 18px;
    color: #E5E7EB;
}

header ul {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

button, .action {
    background-color: #3882F6;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 12vw;
    padding-top: 5vw;
}
.top h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    color: #1F2937;
}

.top img {
    max-width: 15vw;
}

figure {
    margin: 2vw 0 2vw 0;
    padding: 10vw;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
}

figcaption {
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    margin: 5vw 15vw;
}

.action button {
    flex-shrink: 0;
    border: 1px solid #F9FAF8;
    border-radius: 0.25em;
}

button {
    flex-shrink: 0;
    margin: 1vw 1.5vw;
    padding: 0.5vw;
    border: 1px solid #1F2937;
}

footer {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}